.postNameAndTags{
    background-color: inherit;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.postNameAndTags.eanddbuttons{
    display: flex;
    flex-direction: row-reverse;
    /*border-radius: 10px;*/
}
.postNameAndTags.eanddbuttons.comment{
    flex-direction: row;
    justify-content: center;
}

.button_bar{
    margin-right: 5px;
}
.tagLink{
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

.tagLink a {
    text-decoration: none;
    color: #EEEEEE;
}

.postUser{
    background-color: inherit;
    border-right: 1px solid rgba(255,255,255,0.12);
    width: 200px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

.postUser img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.postContent{
    padding: 10px;
    background-color: inherit;
    text-align: center;
    width: 100%;
}
.postContent time{
    display: block;
    text-align: left;
    color: #DDDDDD;
}
.postContent textarea {
    width: 100%;
}
.postContent button {
    display: block;
    margin-top: 10px;
}
.hiddenName{
    display: none;
}

@media (max-width: 768px) {
    .postUser{
        display: none;
    }
    .hiddenName{
        display: flex;
        align-items: center;

    }
}
