
.container{
    margin-top: 20px;
    background: #333333;
    max-width: 1400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;

}
.page_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: #222222;
}
.navbar_main, .sidenav {
    display: flex;
    align-items: center;
}

input[type=text] {
    margin: 10px;
}
.gamePanel{
    width: 100%;
    margin: 0;
    background-color: #222222;
    flex-wrap: wrap;
    justify-content: space-around;

}
.filters{
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.hidden {
    display: none;
}
.filters.hidden{
    margin-left: 0;
}

.scrollForm{
    max-height: 200px;
    overflow-y: auto;
}
.container.filters form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gameDesc{
    width: 100%;
}
.gameDesc td{
    width: 50%;
}
.filterFont{
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .container.centring{
        display: flex;
        flex-direction: column;
    }

    .centring.navbar_main, .centring.sidenav {
        width: 100%;
        display: flex;
        /*flex-direction: column;*/
        align-items: center;
        justify-content: center;
    }
    .content {
             flex-direction: column;
         }
    .container.filters{
        order: -1;
    }

}

@media (max-width: 960px) {
    .page_content {
        flex-direction: column;
    }
    .filters {
        order: -1;
    }
    .filters, .gamePanel {
        width: 100%; /* Take full width */
    }
}



