.leftHalf{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid rgba(255,255,255,0.12);
    margin-right: 10px;

}
.rightHalf{
    width: 600px;
}

.button_bar{
    padding: 5px;
}
.searchbarPostForm{
    padding-left: 30px;
    transition: all 0.3s ease;
    border-radius: 10px;
    border-color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
/*.input-container{*/
/*    background-color: #333333;*/
/*    color: #222222;*/

/*}*/


/*dropdown*/
.mult-select-tag .body {
    border-color: #222222;
}
.mult-select-tag .item-container {
    color: #222222;
}
.mult-select-tag .drawer ul li {
    color: #333333;
}

@media (max-width: 500px) {
    .containerGeneral {
        flex-direction: column;
    }

    .rightHalf {
        width: 100%;
        margin-bottom: 10px;
    }
    .leftHalf{
        display: none;
    }

    .searchbar, select, .text {
        width: 100%;
    }

    .button_bar {
        width: 100%;
    }
}
